.index__titulo, .sobremi__contenedor main h1, .galeria__contenedor main h1, .portfolio__contenedor main h1 {
  color: white;
  text-align: center;
  text-decoration: solid;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-iteration-count: initial; }

.boton--gris {
  background-color: #cfcccc !important;
  color: white;
  text-align: center; }

.boton--beige {
  background-color: #ebe6ce !important;
  color: white;
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: code-font;
  src: url(../fonts/code-font/static/SourceCodePro-Regular.ttf); }

body {
  font-family: code-font;
  background-color: white; }

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-size: cover;
  background-color: white; }
  header div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center; }
  header img {
    height: 100px;
    width: 100px; }

nav {
  background-image: linear-gradient(to right, #dbdbfa, #dbdbfa); }
  nav ul li ul {
    background-image: linear-gradient(to right, #6500ff, #3eff3f);
    background-color: #6500ff;
    color: #3eff3f;
    margin-top: 7px !important;
    border: none; }
    nav ul li ul li:hover {
      color: black !important;
      background-color: #cfcccc !important; }
  nav ul li a {
    color: black !important; }
    nav ul li a:hover {
      color: black !important; }

div {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer"; }
  div nav {
    grid-area: nav; }
  div main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center; }
    div main .index__titulo, div .sobremi__contenedor main h1, .sobremi__contenedor div main h1, div .galeria__contenedor main h1, .galeria__contenedor div main h1, div .portfolio__contenedor main h1, .portfolio__contenedor div main h1 {
      color: white;
      text-align: center;
      text-decoration: solid;
      animation-name: aparecer;
      animation-duration: 3s;
      animation-iteration-count: initial; }
    div main a {
      border: #cfcccc !important;
      outline: none !important;
      box-shadow: none !important; }
      div main a:hover {
        background-color: #ebe6ce !important; }
      div main a:visited {
        background-color: #cfcccc; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.sobremi__contenedor {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer"; }
  .sobremi__contenedor main {
    grid-area: main; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .sobremi__contenedor main h2 {
      color: white; }

.galeria__contenedor {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer"; }
  .galeria__contenedor main {
    grid-area: main; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .galeria__contenedor main section {
      background-color: white;
      border-style: double;
      border-radius: 15px; }
    .galeria__contenedor main div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 10px; }
      .galeria__contenedor main div .galeria__enterizo {
        height: 480px;
        width: 550px;
        border-style: double;
        border-radius: 10px; }
      .galeria__contenedor main div .galeria__manos {
        height: 400px;
        width: 350px;
        margin-top: 50px;
        border-style: double;
        border-radius: 10px; }
      .galeria__contenedor main div .galeria__mangas {
        height: 400px;
        width: 700px;
        margin-top: 55px;
        border-style: double;
        border-radius: 10px; }
      .galeria__contenedor main div .galeria__vestido {
        height: 500px;
        width: 400px;
        border-style: double;
        border-radius: 10px; }
      .galeria__contenedor main div .galeria__pollera {
        height: 500px;
        width: 400px;
        border-style: double;
        border-radius: 10px; }
      .galeria__contenedor main div .galeria__campera {
        height: 400px;
        width: 520px;
        margin-top: 55px;
        border-style: double;
        border-radius: 10px; }
      .galeria__contenedor main div div img {
        height: 100%;
        width: 100%; }
      .galeria__contenedor main div div:active {
        height: 500px;
        width: 500px; }

.portfolio__contenedor {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer"; }
  .portfolio__contenedor main {
    grid-area: main; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .portfolio__contenedor main table {
      border: solid white;
      background-color: #cfcccc; }
      .portfolio__contenedor main table tr {
        border: solid white; }
        .portfolio__contenedor main table tr td {
          border: solid white; }
      .portfolio__contenedor main table tr:nth-child(2n) {
        background-color: #cfcccc; }

.contacto__contenedor {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer"; }
  .contacto__contenedor main {
    grid-area: main;
    display: flex;
    justify-content: center; }
    .contacto__contenedor main legend {
      text-align: center; }
    .contacto__contenedor main form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      margin: 10px;
      padding: 10px;
      color: white;
      background-color: #cfcccc; }
      .contacto__contenedor main form fieldset {
        display: flex;
        flex-direction: column;
        width: 100%; }
      .contacto__contenedor main form .form-select {
        margin-top: 5px;
        margin-bottom: 5px; }
      .contacto__contenedor main form .boton {
        display: flex;
        justify-content: center;
        margin-top: 3px;
        margin-bottom: 3px; }
      .contacto__contenedor main form .botonFondo {
        background-color: #ebe6ce; }
      .contacto__contenedor main form .form-check-input {
        box-shadow: none !important; }
      .contacto__contenedor main form .form-check-input:checked {
        background-color: grey;
        border-color: grey; }
      .contacto__contenedor main form .form-check-input:active {
        border-color: #cfcccc !important; }

footer {
  grid-area: footer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #dbdbfa;
  color: white; }
  footer div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end; }
  footer a {
    color: white; }
    footer a:hover {
      color: black; }
  footer img {
    height: 100px;
    width: 100px; }

.firma {
  display: flex;
  align-items: flex-end;
  font-style: italic; }
  .firma:hover {
    color: black;
    font-size: 20px; }
  .firma:active {
    color: white; }
