footer{
    grid-area: footer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    // background-image: linear-gradient(to right, $azul, $verde, $azul) ;
    // background-image: linear-gradient(to right, $azul, $verde);
    background-color: rgb(219, 219, 250);
    color: white;

    div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: end;
    }

    a{
        color: white;

        &:hover {
            color: black;
        }
    }

    img{
        @include sizes(100px, 100px)
    }

}

.firma{
    display: flex;
    align-items: flex-end;

    font-style: italic;

    &:hover {
        color: black;
        font-size: 20px;
    }

    &:active {
        color: white;
    }
}