header{
    grid-area: header;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-size: cover;
    background-color: $beige;

    div{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
    }

        img{
            width: 100px;
            height: 100px;
        }
}
