header{
    grid-area: header;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-size: cover;
    background-color: white;

    div{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
    }

        img{
            @include sizes(100px, 100px)
        }
}
