nav{
    background-image: linear-gradient(to right, $gris, $beige);


    ul{

        li{

            ul{
                background-image: linear-gradient(to right, $beige, white);
                background-color: $azul;
                color: $verde;
                margin-top: 7px !important;
                border: none;  

                li:hover {
                    color: black !important;
                    background-color: $gris !important;
                }
            }


            a{color: black !important;

                &:hover {color: $verde !important;
                }
            }

        }
    }

}

