nav{
    background-image: linear-gradient(to right, rgb(219, 219, 250), rgb(219, 219, 250));
    // background-color: $azul !important;

    ul{

        li{

            ul{
                background-image: linear-gradient(to right, $azul, $verde);
                background-color: $azul;
                color: $verde;
                margin-top: 7px !important;
                border: none;

                li:hover {
                    color: black !important;
                    background-color: $gris !important;
                }
            }

            // &:hover {
            //     font-style: italic;
            // }

            a{color: black !important;

                &:hover {color: black !important;
                }
            }

        }
    }

}

// en mi proyecto sin sass mis fondos llevaban transparencia pero en sass no se puede usar el rgb con 4 numeros