nav{
    background-image: linear-gradient(to right, rgb(207, 204, 204), rgb(235, 230, 206));

    ul{

        li{

            ul{
                background-image: linear-gradient(to right, rgb(207, 204, 204), rgb(235, 230, 206));
                color: white;
                margin-top: 7px !important;
                border: none;

                li:hover {
                    color: black !important;
                    background-color: rgb(207, 204, 204) !important;
                }
            }

            &:hover {
                font-style: italic;
            }

            a{color: white !important;

                &:hover {color: black !important;
                }
            }

        }
    }

}

// en mi proyecto sin sass mis fondos llevaban transparencia pero en sass no se puede usar el rgb con 4 numeros