div{
    display: grid;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";


                         nav{
                            grid-area: nav;
                        }

                        main{
                            grid-area: main;
    
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            h1{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                            
                                color: $gris;
                            
                                animation-name: aparecer;
                                animation-duration: 3s;
                                animation-iteration-count: initial;
                            }

                            a{
                                display: flex;
                                justify-content: center;
                            
                                background-color: $gris !important;
                                border: $gris !important;
                                outline: none !important;
                                box-shadow:none !important;

                                &:hover {
                                    background-color: $beige !important;
                                }

                                &:visited {
                                    background-color: $gris;
                                }
                            }
                        }
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}