.sobremi__contenedor{
    
    grid-template-areas{
        display: grid;
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
    }

    main{
        grid-area: main;

        .presentacion__card{
            border: none;
            margin-left: 250px;

            .card-text{
                font-size: x-large;
            }
        }

        #presentacion{
            margin-top: 40px;
        }

        .cardsVF{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .cardsOD{
            display: flex;
            flex-direction: row;
            justify-content: center
        }
        

        h1{
            @extend .index__titulo;
        }

        @keyframes aparecer{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }

        h2{
            color: $azul;
            font-weight: bold;
        }

        h5{
            color: $azul;
            font-style: italic;
        }

    }


                        }